#mainNav{
    background-color: #2b2b2b;
    h2,{
        font-family: 'PT Serif', serif;
        font-weight: 800;
        letter-spacing: .5em;
    }
    h4{
        font-family: 'PT Sans',sans-serif;
        letter-spacing: .5em;
    }
}

.bridge{
    border-left: 4px white solid;
    border-right: 4px white solid;
}

hr{
    border: solid white 2px ;
}



.navbar{
    background-color: #2b2b2b;
}
.nav-link{
    font-family: 'PT Sans',sans-serif;
    letter-spacing: .15em;
}
.callMe{
    background-color: #2b2b2b;
    border-top: 10px solid white;
    h1,{
        font-family: 'PT Sans',sans-serif;


    }
    h4{
        font-family: 'PT Serif', serif;
    }
    .form-row{
        background-color: #2b2b2b;

    }
}
.aboutMe{

    h1{
        font-family: 'PT Serif',serif;
        color: #BD3D3A;
        font-weight: 700;
        letter-spacing: .1em;
    }
    p{
        font-family: 'PT Sans',sans-serif;
    }
}
#skillsMain{
    padding-top: 75px;
    padding-bottom: 75px;
    
    h1{
    font-family: 'PT Serif',serif;
    font-weight: 700;
    letter-spacing: .1em;
}
hr{
    border: solid black 1px;
}
}
.educationHead{
    h1{
        font-family: 'PT Serif',serif;
        font-weight: 700;
        letter-spacing: .1em;

    }
    hr{
        border: solid black 1px;
    }

}
.card-deck{
    margin-top: 50px;
    margin-bottom: 50px;
    .card{
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
        box-shadow: 4px 10px 3px -5px rgba(0,0,0,0.59);
        hr{
        border:black solid 1px;
        }
    }
    button{
        background-color:  #3F69AA; 
        font-family: 'PT Serif',serif;
        font-weight: 700;
        letter-spacing: .3em;
    }
    img{
        padding:3px;
        max-height: 214px;
        
    }
}
.card-title{
    font-family: 'PT Serif',serif;
    font-weight: 700;
    color: black;
    letter-spacing: .2em;
}
.card-text{
    font-family: 'PT Sans',sans-serif;
    color: black;
}

#send{
    background-color: #8D9440;
    font-family: 'PT Serif',serif;
    font-weight: 700;
    letter-spacing: .3em;
}
@media only screen and (min-width:414px){
    #mainNav{
      
            padding-left: 50px;
            padding-right:50px;
        
    }
        .navbar-nav .nav-link {
            padding-right: 0;
            padding-left: 0;
            padding-top: 30px;
        
        }
    }

@media only screen and (min-width:400px){
    #mainNav{
        padding-left: 15px;
        padding-right: 15px;
    }
        .navbar-nav .nav-link {
            padding-right: 0;
            padding-left: 0;
            padding-top: 30px;
        
        }
    }
   
    #educationInfo{
        h1{
            font-family: 'PT Serif',serif;
            font-weight: 700;
            letter-spacing: .1em;
        
        }
        h2{
            font-family: 'PT Sans',sans-serif;
        }
    }

